/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

/*---------------------------------------------
        Header Section Start
----------------------------------------------*/

/*------------------------
    Header Nav-Logo
------------------------*/

.header-logo i{
font-size:65px;
border: 4px solid white;
border-radius: 60px;
padding: 20px;
                }

.header-nav a{
border-radius: 25px;
padding: 8px;
                 }


/*---------------------------------------------
        Header Section end
----------------------------------------------*/

/*---------------------------------------------
        main Section start
----------------------------------------------*/


/*----------------------------
    About us Section Start
----------------------------*/
.about-section{
    padding: 20px;
    
}






/*---------------------------------------------
        main Section end
----------------------------------------------*/




}







/*-----------------------------------------------------------------------
        Medium devices (landscape tablets, 785px and up)
------------------------------------------------------------------------ */

@media only screen and (min-width: 785px) {


/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

[class*="col-s-"]{
    float:left;
}

/*---------------------------------------------
        Header Section Start
----------------------------------------------*/

/*------------------------
    Header Nav-Logo
------------------------*/

.logo-nav-section{
    padding: 20px;  
 }


.header-logo{
text-align: left;
}

.header-logo i{
font-size:60px;
border:4px solid white;
border-radius: 55px;
padding: 15px;
}

.header-nav{
text-align: right;
margin-top: 30px;
} 

.header-nav a{
display:inline;
margin:15px;
font-size: 32px;
background-color:transparent;
font-weight: bold;
}

.header-nav a:hover{
background-color:transparent;
color:black;
}


/*---------------------------------------------
        Header Section end
----------------------------------------------*/

/*---------------------------------------------
        main Section start
----------------------------------------------*/

/*------------------------
    Banner Section Start
------------------------*/
.banner-section{
width:100%;
position: relative;
height:550px;
}

.banner-text{
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, -50%);

}


/*----------------------------
    About us Section Start
----------------------------*/
.about-section{
padding: 40px;
    
}

/*-----------------------------
    contact us details start
------------------------------*/

.contact-text{
    padding-top:30px;
}


/*---------------------------------------------
        main Section end
----------------------------------------------*/


/*---------------------------------------------
                Fotter Section start
-----------------------------------------------*/

    .copy {
        margin-top:24px;
    }
    
    .arror{
        margin-top:25px;
    }
    
    .social-media button{
        margin: 10px;
        border-radius: 50px;
        border:2px solid white;
        transition: 3s;
    }
    
    .social-media button:hover{
        transform: scale(1.3);
    }
    
    /*---------------------------------------------
                    Fotter Section start
    -----------------------------------------------*/





}







/* -------------------------------------------------------------
        Large devices (laptops/desktops, 992px and up)

---------------------------------------------------------------*/

@media only screen and (min-width: 992px) {

 /* For desktop: */
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}

 [class*="col-"]{
    float:left;
}


/*---------------------------------------------
        Header Section Start
----------------------------------------------*/

/*------------------------
    Header Nav-Logo
------------------------*/

.logo-nav-section{
    padding: 20px;  
 }


.header-logo{
text-align: left;
}

.header-logo i{
font-size:65px;
border:5px solid white;
border-radius: 60px;
padding: 20px;
}

.header-nav{
text-align: right;
margin-top: 30px;
} 

.header-nav a{
display:inline;
margin:15px;
font-size: 32px;
background-color:transparent;
font-weight: bold;
}

.header-nav a:hover{
    background-color:transparent;
    color:black;
}



/*---------------------------------------------
        Header Section end
----------------------------------------------*/

/*------------------------
    Banner Section Start
------------------------*/
.banner-section{
width:100%;
position: relative;
height:550px;
    }
    
.banner-text{
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, -50%);
    
    }
    
    
.banner-text h1{
padding: 30px;
padding-bottom: 34px;
font-size: 55px;
border-radius: 30px;
       }
       
.banner-text p{
padding: 15px;
border-radius: 20px;
font-size: 29px;
       }
       
.banner-text button{
border-radius: 13px;
           
       }
       
      
           
  /*----------------------------
    About us Section Start
----------------------------*/
.about-section{
padding:50px;
        
    }     

.about-section h2{
font-size:45px;
    }
.about-section p{
font-size: 18px;
    }


/*-----------------------------------
        Menu Section Start
-------------------------------------*/







    
    /*---------------------------------------------
            main Section end
    ----------------------------------------------*/
    







}








